# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Environment Variables
.env

# Airflow
airflow/logs/

# Python Cache
.pip-cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log
